
<hr>
<%= form_for  @evaluation, url: batch_student_evaluations_url(@batch, @student), html: { method: :post } do |f|%>

<div class="form-group">

  <div class="form-group">
      <h4>Date</h4>
    <%= f.label :evaluation_date %>:
    <%= f.date_field  :evaluation_date, class: "form-control" %><br />
    </div>

<div class="form-group">
    <h4>Score</h4>
    <%= f.label :color%>:
    <%= f.select :color, [["red"], ["yellow"], ["green"]] %>
</div>

<div class="form-group">
  <%= f.submit "Add Evaluation", class: "btn btn-primary" %>
<% end %>
<hr>
</div>
</div>
