
  <a href="/batches/<%=@batch.id %>" > <h3> Back to Class</h3> </a>
<div class="container-indivudual-student">


<div class="container-item-individual-student">
  <h4>Student Info </h4>
  <hr>
    <% @student.photos.each  do |photo| %>
    <%=image_tag photo.image.thumbnail %>
        <% end %>

  <h2> <%= @student.name %></h2>
      <%@studentcolor = @evaluations.empty? ? "no evaluation yet" : @evaluations.last.color %>
      <p> current status: <div id="<%= @studentcolor%>" class="eval <%= @studentcolor%>"> </div> </p>
      <%@last_eval_date = @evaluations.empty? ? "no evaluations yet" : @evaluations.last.evaluation_date %>
      <p> last evaluation date: <%=@last_eval_date %></p>

      <p> Student id <%= @student.id %>  </p>
      <p> Class number #<%= @student.batch.number %>  </p>
      <%= link_to "Update student info", edit_batch_student_url(@batch, @student) %>

    </div>
    <div class="container-item-individual-student">
      <h4>Student status </h4>
      <hr>

          <%= render "evaluations/form_new_eval" %>

  </div>

</div>
