<a href="/batches/<%=@batch.id %>" > <h3> Back to Class#<%= @student.batch.number %></h3> </a>
<div class="container-indivudual-student">

<div class="container-item-individual-student">
    <h4>Student Info </h4>   <p><%= link_to "Update student info", edit_batch_student_url(@batch, @student) %> </p>
    <hr>
    <% @photos.each  do |photo| %>
    <%=image_tag photo.image.thumbnail %>
        <% end %>


      <h2> <%= @student.name %></h2>
      <p> current status: <div id="<%= @studentcolor%>" class="eval <%= @studentcolor%>"> </div> </p>
      <p> Student id <%= @student.id %>  </p>

      <%= render "comments/all_comments" if !@evaluations.empty? %>
      <%= render "comments/form_new_comment" if !@evaluations.empty? %>
</div>


<div class="container-item-individual-student">
      <h4>Student Evaluation </h4>
      <hr>

      <%= render "evaluations/form_new_eval" %>

      <%if @next_student.id == @student.id %>
      <button class="btn-primary inactive"> Next Student </button></a>
      <a href="/batches/<%=@batch.id%>"><button class="btn-primary">Back to Class <%=@batch.number %> </button></a>
      <% else %>
      <a href="/batches/<%=@batch.id%>/students/<%=@next_student.id %>"><button class="btn-primary"> Next Student </button></a>
      <% end %>

      <p>all:</p>
      <% @student.evaluations.each do |evaluation| %>
      <%= evaluation.evaluation_date %> <p>---</p>
      <% end %>
      <p>most recent </p>
      <%= @student.most_recent_evaluation.evaluation_date %>

</div>

</div>
