<h2>Classes of Codaisseur </h2>

<div class="container-batches">
  <div class="container-item-batches">
      <div class="container-content-batches">
      <div> <%= link_to '<button class="btn-primary">Add a Batch</button>'.html_safe, "batches/new" %></div>
      </div>
  </div>
    <% @batches.each do |batch| %>
  <div class="container-item-batches">
    <div class="container-content-batches">
      <h1>Batch #<%=  batch.number %></h1>
      <p>start: <%= batch.starts_at%> </p>
      <p>end: <%= batch.ends_at%></p>
      <%= link_to '<button class="btn-primary">See Class</button>'.html_safe, batch %>

    </div>
  </div>
    <% end %>

</div>
