<h2>Class <%= @batch.number %> </h2> <a href="/batches"> <h3> Back to Classes </h3> </a>

<%= button_to 'Ask a question', @batch, method: :put, class: "btn-primary"%>
<p>debugging</p>

<%= @batch.create_array_of_students %>



<div class="container-students">

  <% @batch.students.each do |student|%>
<div class="container-item-students">
    <div class="container-content-students">
      <% student.photos.each  do |photo| %>
        <%=image_tag photo.image.thumbnail %>
          <% end %>
          <h1><%=link_to student.name, "/batches/ #{@batch.id}/students/#{student.id}" %> </h1>

          <p>student id: <%= student.id%></p>
          <p> current status: <div class="eval <%= student.evaluations.last.color%>"> </div>  </p>

    </div>
  </div>
    <%end%>
</div>
