
<div class="evaluation-bar">
  <div class="evaluation-bar-color red" style= "width:<%=@percentage_red%>%"> <%=@percentage_red%>%</div>
  <div class="evaluation-bar-color yellow" style= "width:<%=@percentage_yellow%>%"> <%=@percentage_yellow%>%</div>
<div class="evaluation-bar-color green" style= "width:<%=@percentage_green%>%"> <%=@percentage_green%>%</div>
</div>


<div class="selected_student_container">
  <div class="selected_student">
  <a href="/batches/<%=@batch.id%>"><button class="btn-primary" name="askaquestion">Ask a question</button></a>

  </div>
  <div class="selected_student">
      <% if !@selected_student.nil? %>
      <%= render 'batches/selected_student' %>
      <% else %>
      <h4> Color is not in the batch </h4>
      <%end%>
  </div>
</div>

</hr>
</hr>

<div class="container-students">

  <div class="container-item-students">
      <div class="container-content-students">
      <div> <%= link_to '<button class="btn-primary">Add a student to Batch</button>'.html_safe, "/batches/ #{@batch.id}/students/new" %></div>
      </div>
    </div>
  <% @batch.students.each do |student|%>
<div class="container-item-students">
    <div class="container-content-students">
      <% student.photos.each  do |photo| %>
        <%=image_tag photo.image.thumbnail %>
          <% end %>
          <h4><%=link_to student.name, "/batches/ #{@batch.id}/students/#{student.id}" %> </h4>

          <p>student id: <%= student.id%></p>
          <%@studentcolor = student.evaluations.empty? ? "no evaluation yet" : student.most_recent_evaluation.color %>
          <p> current status: <div class="eval <%= @studentcolor %>"> </div>  </p>
          <p><%= link_to "Delete student","/batches/ #{@batch.id}/students/#{student.id}", id: "#{student.id}", method: :delete, data: {confirm: "You ar deleting a student. Are your sure?"} %> </p>
          <%= link_to "Update student info", edit_batch_student_url(@batch, student) %> </p>
    </div>
  </div>
    <%end%>
</div>
