<h2>Class <%= @batch.number %> </h2> <a href="/batches"> <h3> Back to Classes </h3> </a>

<div class="evaluation-bar">
  <div class="evaluation-bar-color red" style= "width:<%=@percentage_red%>%"> <%=@percentage_red%>%</div>
  <div class="evaluation-bar-color yellow" style= "width:<%=@percentage_yellow%>%"> <%=@percentage_yellow%>%</div>
<div class="evaluation-bar-color green" style= "width:<%=@percentage_green%>%"> <%=@percentage_green%>%</div>
</div>


<div class="selected_student_container">
  <div class="selected_student">
  <a href="/batches/<%=@batch.id%>"><button class="btn-primary">Ask a question</button></a>
  </div>
  <div class="selected_student">
    <% if !@selected_student.nil? %>
    <%= render 'batches/selected_student' %>
    <%end%>
  </div>
</div>

</hr>
</hr>

<div class="container-students">

  <div class="container-item-students">
      <div class="container-content-students">
      <div> <%= link_to '<button class="btn-primary">Add a student to Batch</button>'.html_safe, "/batches/ #{@batch.id}/students/new" %></div>
      </div>
    </div>
  <% @batch.students.each do |student|%>
<div class="container-item-students">
    <div class="container-content-students">
      <% student.photos.each  do |photo| %>
        <%=image_tag photo.image.thumbnail %>
          <% end %>
          <h1><%=link_to student.name, "/batches/ #{@batch.id}/students/#{student.id}" %> </h1>

          <p>student id: <%= student.id%></p>
          <%@studentcolor = student.evaluations.empty? ? "no evaluation yet" : student.evaluations.last.color %>
          <p> current status: <div class="eval <%= @studentcolor %>"> </div>  </p>
          <p><%= link_to "Delete student","/batches/ #{@batch.id}/students/#{student.id}", method: :delete, data: {confirm: "You ar deleting a student. Are your sure?"} %> </p>

    </div>
  </div>
    <%end%>
</div>
